<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/logotip.css">
    <link rel="stylesheet" type="text/css" href="/css/gaming-industry/style.css">
    <link rel="stylesheet" type="text/css" href="/css/shrifts.css">
    <link rel="stylesheet" href="/css/gaming-industry/style-mobil.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game Pro</title>
</head>
<body>
    <%- include('head'); -%>
    <div class="indent_under_header"></div>

    <div class="button"></div>
    <div class="list_news">
        <div class="news">
            <h1 class="news_h1">Новости</h1>
        </div>
        <div class="column">
            <div class="left_column"><p class="a">gfhfghgvgggggggggggggggggggggggggggggggggggggggggggggggggggggggg                                                                                                                            ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
            <div class="right_column"><p class="a">fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p></div>
        </div>
    </div>

    <!--<div class="indent_under_header"></div>
        
        
        <div class="list_news">
            <div class="news">
                <h1 class="news_h1">Новости</h1>
            </div>
            <div class="column">
                <div class="left_column"><p>gfhfgh</p></div>
                <div class="right_column"></div>
            </div>
        </div>-->
</body>
</html>
