<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/razdely.css">
    <link rel="stylesheet" type="text/css" href="/css/logotip.css">
    <link rel="stylesheet" type="text/css" href="/css/fon-dly-razdelov-mobil.css">
    <link rel="stylesheet" type="text/css" href="/css/razdel-mobil.css">
    <link rel="stylesheet" type="text/css" href="/css/shrifts.css">
    <link rel="stylesheet" type="text/css" href="/css/section.css">
    <link rel="stylesheet" type="text/css" href="/css/style-mabil.css">
    <link rel="stylesheet" type="text/css" href="/css/section-mobil.css">
    <link rel="stylesheet" type="text/css" href="/css/basement.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game Pro</title>
</head>
<body>
    
    
    <%- include('head'); -%> 
    
    <div class="foto">
        <img class="fon" src="foto/fon.jpg">
        <div class="text-wrapper">
            
            <div class="animated-words">
                <span ></span>
                <span>Новости игровой индустрии</span>
                <span>События в мире киберспорта</span>
                <span>Новинки компьютерных игр</span>
                <span>Новейшие разработки компьютерной инженерии</span>
                
            </div> 
            <div class="mobil"></div> 
        </div>
    </div>
    <div class="tworazdel">
        <div class="onecolumn">
            <div class="temaone"></div>
            <div class="tematwo"></div>
            <div class="temathree"></div>
            <div class="temafour_mobil"></div>
        </div>
        <div class="twocolumn">
            <div class="temafour"></div>
        </div>
    </div>


    <div class="a">
        <div class="right_strip">
            <div class="strip"></div>
            <div class="otstup"></div>
            <div class="ferst_selection">
                <form action="/gaming-industry/" method="GET" class="animated_button">
                    <input type="submit" class="input1" value="игровая индустрия">
                </form>
                <img class="fon2" src="foto/fon1.jpg">
            </div>
            <div class="otstup"></div>
            <div class="otstup"></div>
            <div class="second_selection">
                <form action="/" method="get" class="animated_button2">
                    <input type="submit" class="input2" value="Cybersport">
                </form>
                <img src="foto/scale_1200.jpg" class="fon2">
            </div>
        </div>
        <div class="transition_strip"></div>
            <div class="left_strip">
                <div class="strip1"></div>
                <div class="otstup"></div>
                <div class="otstup"></div>
                <div class="third_selection">
                    <form action="/" method="get" class="animated_button3">
                        <input type="submit" class="input3" value="компьютерные игры">
                    </form>
                    <img class="fon2" src="foto/Jump-Ahead.jpg">
                </div>
                <div class="otstup"></div>
                <div class="otstup"></div>
                <div class="fourth_selection">
                    <form action="/" method="get" class="animated_button4">
                        <input type="submit" value="электронная инженерия" class="input4">
                    </form>
                    <img class="fon2" src="foto/comp.jpg">
                </div>
            </div>
    </div>

    
    <div class="otstup2">
        
    </div>
    
    <%- include('basement'); -%> 
    
        

    <script src="js/animate2.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</body>
</html>