<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/logotip.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/gaming-industry/style.css">-->
    <link rel="stylesheet" type="text/css" href="/css/shrifts.css">
    <link rel="stylesheet" type="text/css" href=" /css/layour/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('head'); -%>
    <div class="indent_under_header"></div>
    <div class="otstup"></div>
</body>
</html> 