
  .random{
    left: 2%;
    top: 40%;
    width: 60%;
    text-transform: none;
    position: absolute;
  }
.content span, .content span {
    width: 4%;
    display: inline-table;
  }
  #rightcol { /* Этот слой накладывается поверх */ 
    position: absolute; /* Относительное позиционирование */
    left: 1%; /* Положение от левого края */
    top: 0%; /* Положение от верхнего края */
    width: 98%; /* Ширина правой колонки */
    height: 60px;
    background: #696969; /* Цвет фона */
    color: #fff; /* Цвет текста */
    opacity: 0.8;
    border-radius: 0% 0% 20px 20px;
    z-index: 2;
    margin: 0;
    padding: 0;
   }