/*html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    color: #eee;
    width: 100%;
  }*/
  html .content  {
    
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    text-transform: uppercase;
    
  }
  .content{
    position: relative;
    left: 3%;
  }
  html .content span, .content span {
    width: 3%;
    display: inline-block;
  }