* {
    margin: 0;
    padding: 0;
  }
body{
    margin: 0;
    padding: 0;
    width: 100%; /* Ширина правой колонки */
    position: absolute;
    z-index: 1;
}

.fon{
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.foto{
    background: #706e6e;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.fon1{
    transform: translate(-50%, 0%);
    left: 60%;
    margin: 0;
    position: relative;
    z-index: 1;
    width: 50%;
    margin: 0px;
    padding: 0px;
  /*clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);*/
}
.strip{
    position: absolute;
    width: 35%;
    transform: translate(-100%, 0%);
    left: 100%;
    background: #706e6e;
    height:100%;
    margin:0;
    padding: 0;
    z-index: 0;
}
.ferst_selection{
    /*margin: 50px 0px 0px 0px; /*изменить при готовой странице*/
    position: relative;
    width:100%;
    height: 100%; /*изменить при готовой странице*/
    /*border-style: solid;*/
    z-index: 1;
}
.animated_button{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    position: absolute;
    width: 30%;
    height: 50%; /*изменить при готовой странице*/
    /*border-style: solid;*/
    z-index: 2;
    background: #010038;
}
.input1{
    position: relative;
    width: 100%;
    height:100%;
    color:white;
    outline: none;
    background: transparent;
}
.animated_button:hover{
    transition: 0.7s;
    height: 80%;
}
.animated_button:not(:hover){
    transition:0.7s;
}

.otstup{
    position: relative;
    width:100%;
    height: 100px;/*изменить при готовой странице на проценты*/
    z-index: 0;
}


/*.fon2{
    /*top: -86px;*//*
    position: absolute;
    z-index: 0;
    border: "0";
    width: 100%;
    height: "300";
    alt: "";
    width: 100%;
    margin: 0;
    padding: 0;
/*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}*/
.a{
    width: 100%;
    position: relative;
    height:100%;
}
/*.b{
    position: relative;
}*/

.tworazdel{
    position: relative;
    background: #706e6e;
    width: 100%;
    height: 850px;
    margin: 0px;
    padding: 0px;
}
.onecolumn{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 55%;
    left: 30%;
    height: 100%;
    top: 49%;
    z-index: 0;

}
.temaone {
    background: #404040;
    position: relative;
    width: 100%;
    height: 28%;
    top: 4%;
    opacity: 0;
}
.tematwo{
    background: #404040;
    position: relative;
    width: 100%;
    height: 28%;
    top: 8%;
    opacity: 0;
}
.temathree{
    background:#404040;
    position: relative;
    width: 100%;
    height: 28%;
    top: 12%;
    opacity: 0;
}

.twocolumn{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 79%;
    width: 39%;
    height: 100%;
    top: -1%;
}
.temafour{
    position: relative;
    top: 4%;
    width: 100%;
    height: 92%;
    background: #404040;
    opacity: 0;
}








@media screen and (max-width: 600px) {
    .tworazdel{
        position: relative;
        width: 100%;
        height: 550px;
    }

    .onecolumn{
        position: absolute;
        transform: translate(50%, -50%);
        width: 100%;
        left: -50%;
        height: 100%;
        top: 49%;
        z-index: 0;
    
    }
    .temaone {
        background: #2b2a2a;
        position: relative;
        width: 98%;
        left: 1%;
        height: 22.5%;
        top: 2%;
        opacity: 0;
    }
    .tematwo{
        background: #2b2a2a;
        position: relative;
        width: 98%;
        left: 1%;
        height: 22.5%;
        top: 4%;
        opacity: 0;
    }
    .temathree{
        background: #2b2a2a;
        position: relative;
        width: 98%;
        left: 1%;
        height: 22.5%;
        top: 6%;
        opacity: 0;
    }
    .temafour_mobil{
        background: #2b2a2a;
        position: relative;
        width: 98%;
        left: 1%;
        height: 22.5%;
        top: 8%;
        opacity: 0;
    }



    .twocolumn{
        position: absolute;
        transform: translate(-50%, 0%);
        width: 0%;
        height: 0%;

    }
    .temafour{
        position: relative;

        width: 0%;
        height: 0%;

    }

}