* {
    margin: 0;
    padding: 0;
  }
body{
    margin: 0;
    padding: 0;
    width: 100%; /* Ширина правой колонки */
    position: absolute;
    z-index: 1;
}

.fon{
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.foto{
    background: #706e6e;
    position: relative;
    margin: 0px;
    padding: 0px;
}

  /*clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);*/

.fon2{
    position: relative;
    width: 50%;
    transform: translate(-50%, 0%);
    left: 60%;
    margin: 0px;
    padding: 0px;
}



.tworazdel{
    position: relative;
    background: #706e6e;
    width: 100%;
    height: 850px;
    margin: 0px;
    padding: 0px;
}
.onecolumn{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 55%;
    left: 30%;
    height: 100%;
    top: 49%;
    z-index: 0;
    
}

.temaone, .tematwo, .temathree, .temafour_mobil {
    background: #404040;
    position: relative;
    width: 100%;
    height: 28%;
    opacity: 0;
    box-shadow: 0 0 10px;
}

.temaone {
    top: 4%;
}
.tematwo{
    top: 8%;
}
.temathree{
    top: 12%;
}

.twocolumn{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 79%;
    width: 39%;
    height: 100%;
    top: -1%;
}
.temafour{
    position: relative;
    top: 4%;
    width: 100%;
    height: 92%;
    background: #404040;
    opacity: 0;
    box-shadow: 0 0 5px;
}

.otstup2{
    position: relative;
    width: 100%;
    height: 10vw;
    background: white;
}

.basement{
    position: relative;
    width: 100%;
    height: 20vw;
    background: black;
}

