body{
    margin: 0;
    width: 100%; /* Ширина правой колонки */
    position: relative;
    z-index: 1;
    height: 1000px;
}

.fon{
    position: relative;
    z-index: 1;
    border: "0";
    width: 100%;
    height: "300";
    alt: "";
}
.foto{
    position: relative;;
}

