@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateX(-30px); }
    5% { opacity: 1; -webkit-transform: translateX(0px);}
    17% { opacity: 1; -webkit-transform: translateX(0px); }
    20% { opacity: 0; -webkit-transform: translateX(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: white;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}

.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
}
.animated-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
}
.animated-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
}
.animated-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
}

.animated-words {
    display: inline-block;
}

.text-wrapper {
    
    text-align: left;
    left: 45%;
    top: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 2;
    /*font-family: sans-serif;*/
    font-weight: bold;
    font-size: 100px;
}

.foto{
    position:absolute;
}

