body, html{
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 17, 17);
    width: 100%;
}

.indent_under_header{
    position: relative;
    width: 100%;
    height: 60px;
}
.button{
    position: relative;
    width:100%;
    height: 10vh;
}

.list_news{
    position: static;
    width:100%;
    height: calc(100% - 10vh - 60px);
}

.news{
    position: relative;
    width: 100%;
    background: #202020;
}

.news_h1{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 3vw;
    color: white;
    z-index: 3;
    font-family: a_AvanteLt_LightItalic;
    font-size: 3vw;
}

.column{
    position: relative;
    left: 2.5%;
    width: 95%;
    overflow: hidden;
    background: rgb(20, 17, 17);
}

.left_column{
    float: left;
    position: relative;
    margin-top: 5vh;
    width: calc(63% - 4%);
    overflow: hidden;
}

.right_column{
    float: right;
    position: relative;
    margin-top: 5vh;
    margin-right: 3%;
    width: calc(40% - 4%);
    overflow: hidden;/*
    box-shadow: 0 0 10px 5px;
    background: ;*/
}


